.DS_STORE

/dist/
node_modules
bower_components
typings

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.settings/
*.swo
modules/.settings
.vscode
modules/.vscode
*.js.map
*.css.map

# Don't check in secret files
*secret.js

# Don't check in JS files from application
client/app/**/*.js
client/app/**/*.js.map
client/styles/**/*.css
client/styles/**/*.css.map

# don't check in main booter
index.js

# Ignore npm debug log
npm-debug.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/
typings/index.d.ts
client/build/main.js
